div {
  background-color: rgb(252, 232, 205);
  box-shadow: 2px 2px 2px gray;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
    sans-serif;
}
div:hover {
  scale: 1.05;
}
